body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Sass Syntax error: Undefined variable: "$red". \A         on line 1 of C:\\Users\\jjf\\Desktop\\specialty sites\\stay-independent\\assets\\stylesheets\\stay-ind\\custom-nav.scss \A   Use --trace for backtrace. \A '; }

  body * {
  	display: none;
  }
