<div class="navbar navbar-inverse navbar-fixed-top">
      
          <a class="navbar-brand text-center" href="https://browser-update.org/update.html">For optimal viewing, please update your browser.  Click here to learn how.</a>
        
    </div>