{% comment %} // INDEX.HTML TITLE: {% endcomment %}
{% block title %}Homepage{% endblock %}


{% block styles %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC STYLES FOR THIS PAGE {% endcomment %}
{% endblock %}


{% block content %}
<div class="text-center">

<!-- Section 1: Home -->

    <div id="home">
        <div class="content">
	   <h1 class="homeh1 wow fadeInLeft">Live To Stay Independent.</h1>
            
            </div>
    </div>
    
     
    
    <p class="wow fadeIn slow-it-down">Click to begin your journey.</p>
	<a id="beginningg" href="#first"><img src="/assets/img/begin.png" class="begin-arrow" /></a>
    <div class="blueblue">
        <div class="content" id="first">
	<p class="pt200 mb150"><span class="wow zoomIn">Independence.</span><br /><span class="wow zoomIn slow-it-down">It inspires.  It motivates.</span>  <span class="wow fadeIn slow-it-down-btw2">It fuels change.</span></p>
<div id="lefttoright"> <img src="/assets/img/rocket.gif" id="rocket" class="smallrocket wow bounceOutRight slow-it-down-btw2" />
</div>
           <a href="#second"><img src="/assets/img/begin2.png" class="wow fadeInDown slow-it-down-more continue-arrow" alt="arrow-down" /></a><br />             </div>
        </div>
<div class="content wow flipInX slow-it-down" id="second"><p><img id="ppscp" class="ppscp" src="/assets/img/ppscp.png" alt="Join Palmetto Primary and Specialty Care Physicians"/><br />
is starting a movement to transform health care and stay independent.</p> 
<p><em>#StayIndependent</em></p><br />
     <a href="#history"><img src="/assets/img/begin3.png" class="wow fadeInDown slow-it-down-more continue-arrow" alt="arrow-down" /></a>
        </div>
        


<!-- Section 2: History -->

<div id="history">
<div class="content">
    <p class="mb100">Since its inception in 1997, Palmetto Primary Care Physicians has believed that while breaking away from the crowd doesn't make you popular... <span class="wow fadeIn slow-it-down-btw bbblue">it can change the world.</span></p>
    <div class="content"><img src="/assets/img/globe.gif" class="globular" alt="earth spinning gif" /></div>
<a href="#fourth"><img src="/assets/img/begin4.png" class="wow fadeInDown slow-it-down-more continue-arrow pb100 mt170" alt="arrow-down" /></a>
<h1 class="homeh1 wow fadeIn slow-it-down-some pb50 pt150" id="fourth">We chose to build a physicians group that was independent.</h1>
<h1 class="homeh1 blue-text slow-it-down-btw wow fadeInRight pb50">Independent from...</h1>
<a href="#fifth"><img src="/assets/img/begin3.png" class="wow fadeInDown slow-it-down-more continue-arrow" style="padding-bottom:200px;" alt="arrow-down" /></a>
</div>
<div class="content pt100 pb50" id="fifth">
<div class="col-md-4 lilili hideonmobile"><img src="/assets/img/bikeman.png" alt="Old Ideas" class="wow fadeIn bonkerbonker slow-it-down-some"><p class="pt15">Old Ideas</p></div>
<div class="col-md-4 lilili hideonmobile"><img src="/assets/img/coughmedicine.png" alt="Practices of Outdated Medicine" class="wow fadeIn bonkerbonker slow-it-down"><p style="padding-top:15px;">Practices of Outdated Medicine</p></div>
<div class="col-md-4 lilili hideonmobile"><img src="/assets/img/camera.png" alt="Limited Patient Focus" class="wow fadeIn bonkerbonker slow-it-down-btw"><p  class="pt15">Limited Patient Focus</p></div>
<div class="col-md-12 darr"><img src="/assets/img/old-ideas.gif" alt="mobile animated gif old ideas practices, limited focus" class="pt15 bonkerbonker wow fadeIn" /></div>
<h1 class="homeh1 wow flipInY slow-it-down-btw2 pb50">That was 17 years ago.</h1> 
<a href="#sixth"><img src="/assets/img/begin3.png" class="wow fadeInDown slow-it-down-more continue-arrow" alt="arrow-down" /></a>
</div>   
</div>


<!-- <img src="/assets/img/flag.png" alt="Iwo Jima Flag Illustration" style="max-width:100%; height:auto;" /> -->


<!-- Section 3: Things have changed... (new logo) -->
    
<div class="blueblue" id="sixth">
        <div class="content wow zoomIn">
	<p class="mb100">The patients, physicians, and medicine have changed in those 17 years... <br />as an organization, even we've changed.</p>
           <a href="#seventh"><img src="/assets/img/begin.png" class="wow fadeInDown slow-it-down-btw continue-arrow" style="padding-bottom:250px;" alt="arrow-down" /></a><br /> 
            </div>
    </div>
<div>
    <div id="seventh" class="pt250 pb150">
<img src="/assets/img/palmettopng.png" alt="Old Logo" class="wow bonkerbonker3 fadeOutLeft slow-it-down" id="hideonie"><br />
<img src="/assets/img/ppscp.png" alt="New Logo" style="margin-top:-130px;" class="wow fadeInRight bonkerbonker2 slow-it-down-btw2">
        </div>
<a href="#Steered-Us"><img src="/assets/img/begin3.png" class="wow fadeInDown slow-it-down-more continue-arrow bloons pb250" alt="arrow-down" /></a><br />
    </div> 

<!-- Section 4: But one thing has always steered us... -->

<div id="Steered-Us">
<div class="content">
<h1 class="homeh1 blue-text paddit2">But one thing has always steered us...</h1>
   <a href="#independent"><img src="/assets/img/begin3.png" class="wow fadeInDown slow-it-down-btw2 continue-arrow" style="padding-bottom:250px;" alt="arrow-down" /></a>
</div>
</div> 

<div class="blueblue2" id="independent">
<img src="/assets/img/independent.png" alt="Our Desire to Remain Independent" class="wow flipInY slow-it-down bonkerbonker2" style="margin-top:-50px;"/><br />
<a href="#independent2"><img src="/assets/img/begin4.png" class="wow fadeInDown slow-it-down-more continue-arrow mt-20" style="padding-bottom:250px;" alt="arrow-down" /></a>
    </div> 
<div class="blueblue3" id="independent2">
    <div class="content">
<p style="margin-bottom:50px;">We live to stay independent because it means we can be...</p>
<a href="#innovative"><img src="/assets/img/begin2.png" class="wow fadeInDown slow-it-down continue-arrow" style="padding-bottom:250px;" alt="arrow-down" /></a>
    </div>
    </div> 
</div>
<div class="blueblue4" id="innovative">
    <div class="content paddit">
<h1 class="homeh1 wow fadeIn slow-it-down">Innovative</h1>
<p class="wow fadeIn slow-it-down">Fix the broken health care system.</p>

<h1 class="homeh1 wow fadeIn slow-it-down-btw">Competitive</h1>
<p class="wow fadeIn slow-it-down-btw">Give our communities choices for affordable (and better) health care.</p>

<h1 class="homeh1 wow fadeIn slow-it-down-btw2">Progressive</h1>
<p class="wow fadeIn slow-it-down-btw2">Advocate change in health care towards a system that is patient-focused and not physician-focused.</p>
<div class="text-center">
<a href="#how"><img src="/assets/img/begin2.png" class="wow fadeIn slow-it-down-more continue-arrow" style="padding-bottom:250px;" alt="arrow-down" /></a>
    </div>
</div>
    </div>
<div class="text-center">
    <div id="how" class="content paddit2">
<h1 class="homeh1 blue-text">Join the movement.</h1>
    <p class="wow fadeIn slow-it-down-not-a-lot blue-text">Here's how.</p>
<a href="#step-1"><img src="/assets/img/begin5.png" class="wow fadeInDown slow-it-down-btw2 continue-arrow" style="padding-bottom:250px;" alt="arrow-down" /></a>
    </div>
    
<div class="content paddit" id="step-1">
<h1 class="homeh1 wow fadeIn">Step One</h1>
 
    <p class="wow fadeIn slow-it-down-btw bbblue mobilesm">Choose a Primary Care Provider.</p>
<p class="wow fadeIn slow-it-down-more mobilesm">Primary Care Providers can assist with more than just annual check-ups... they can serve as liaisons to coordinate your care.</p>
 <a href="#step-2" class="data-scroll"><img style="" src="/assets/img/ltblar.png" class="wow fadeInDown slow-it-down-even-more continue-arrow pt100" alt="arrow-down" /></a><br />
    </div>

<div id="step-2" class="content paddit">
<h1 class="homeh1 wow fadeIn">Step Two</h1>
 
    <p class="wow fadeIn slow-it-down-btw bbblue mobilesm">Visit your primary care provider at least once a year.</p>
<p class="wow fadeIn slow-it-down-more mobilesm">Sure you may feel great - but when's the last time you checked your glucose level or blood pressure?  An annual check-up is important to make sure your numbers are good.</p>
<a href="#step-3" class="data-scroll"><img style="" src="/assets/img/ltblar.png" class="wow fadeInDown slow-it-down-even-more continue-arrow pt100" alt="arrow-down" /></a><br />
    </div>

<div id="step-3" class="content mt150 mb150">
<h1 class="homeh1 wow fadeIn">Step Three</h1>
 
    <p class="wow fadeIn slow-it-down-btw bbblue mobilesm">Think before you go to the Emergency Room.</p>
<p class="wow fadeIn slow-it-down-more mobilesm">In 2009-2010, 43% of visits to the ER were triaged as not “urgent” or “emergent,” meaning they could have been treated at an Urgent Care or doctor’s office.<span class="blue-text">*</span></p>
<p class="wow fadeIn slow-it-down-more bbblue mobilesm">CDC &amp; SCDHEC, 2013</p>
<div class="content text-center wow fadeIn slow-it-down-even-more">
<div class="col-md-4"><a target="_blank" href="https://www.palmettoprimarycare.com/find-a-doctor/"><img class="bottomsup" src="/assets/img/doc.png" alt"Find a Doctor" /></a></div>
<div class="col-md-4"><a target="_blank" href="https://www.palmettoprimarycare.com/request-an-appointment/"><img class="bottomsup" src="/assets/img/req.png" alt"Request an Appointment" /></a></div>
<div class="col-md-4"><a target="_blank" href="https://www.palmettoprimarycare.com/urgent-care-center/"><img class="bottomsup" src="/assets/img/urgent.png" alt"Visit our Urgent Care Center" /></a></div>
</div>
    </div>
</div>

<div class="text-center content paddit"><p>&nbsp;</p></div>
{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}